body {
  margin: 25px;
}

.icon-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  color: #cd1414;
  background: #dddddd;
  border: none;
  outline: none;
  border-radius: 50%;
}

.icon-button:hover {
  cursor: pointer;
}

.icon-button:active {
  background: #cccccc;
}

.icon-button__badge {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 25px;
  height: 25px;
  background: red;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

/* Styles for the dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Styles for the dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  padding: 12px;
  z-index: 1;
}

/* Show the dropdown content when the dropdown is hovered over */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 6px 0;
  text-decoration: none;
  display: block;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Position the dropdown links above the dropdown container */
.dropdown-content a {
  position: relative;
  top: -20px;
}
.navbar {
  background-color: rgb(0, 59, 75);
  backdrop-filter: blur(5px);
  color: #fff; /* Text color */
}

.navbar-brand {
  color: #fff; /* Coding Directions Color */
}

.navbar-nav .nav-item .btn {
  color: #016f8c; /* Button text color */
}

.navbar-nav .nav-item .btn:hover {
  background-color: #068aaf;
  color: #fff;
}

.navbar-text {
  color: #fff; /* Text color */
}

.notification {
  color: #000000
}
