<!--<head>-->
<!--  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"-->
<!--      rel="stylesheet">-->
<!--</head>-->

<nav class="navbar navbar-expand-lg bg-light navbar-dark">
<div class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header">
            <a href="#" class="navbar-brand">Navigation Bar</a>
        </div>
<!--        <button type="button" class="notification-button">-->
<!--          <span class="material-icons">notifications</span>-->
<!--          <span class="icon-button__badge" id="notificationCount">0</span>-->
<!--        </button>-->
        <div class="collapse.show navbar-collapse">

            <ul class="navbar-nav">
                <li routerLinkActive="active"><a style="cursor: pointer;" routerLink="/profile">Profile</a></li>
            </ul>
            <ul class="navbar-nav navbar-right">
                <li routerLinkActive><a style="cursor: pointer;" routerLink="/authentication" *ngIf="!isAuthenticated">Login</a></li>
                <li style="cursor: pointer;" *ngIf="isAuthenticated" (click)="onLogout()"><a>Logout</a></li>
            </ul>
        </div>

    </div>
</div>
</nav>

<!--<nav class="navbar navbar-expand-lg bg-body-tertiary">-->
<!--  <div class="container-fluid">-->
<!--    <a class="navbar-brand" href="#">Navigation bar</a>-->
<!--    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--      <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
<!--    <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--&lt;!&ndash;      <ul class="navbar-nav me-auto mb-2 mb-lg-0">&ndash;&gt;-->
<!--&lt;!&ndash;        &lt;!&ndash; Add here Travel Package and other search bar&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;      </ul>&ndash;&gt;-->
<!--      <a class="nav-item me-2" routerLinkActive="active">-->
<!--          <a style="cursor: pointer;" routerLink="/profile">Profile</a>-->
<!--        </a>-->

<!--      <form class="btn btn-outline-success my-2 my-sm-0">-->
<!--                        <li routerLinkActive><a style="cursor: pointer;" routerLink="/authentication">Login</a></li>-->
<!--                <li style="cursor: pointer;" *ngIf="isAuthenticated" (click)="onLogout()"><a>Logout</a></li>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</nav>-->
