
<div class="activities" *ngIf="isAgent()">
  <!--For Search bar ,for filtering travel packages -->
  <h2 (click)="navActivities()">Activities</h2>
  <label for="filter">Filter by:  </label>
  <input type="text" id="filter" name="filter" [(ngModel)]="searchQuery" (input)="getFilteredActivitiesList()" placeholder="Search by name">
  <br><br>
  <ul>
    <li *ngFor="let package of filteredActivitiesList">
      <a routerLink="/activities/{{ package.id }}">{{ package.name }}</a>
    </li>
  </ul>
  <button *ngIf="showAddActivityButton && isAdmin()" (click)="navActivities()">Add New Hotel</button>
</div>
<br>
<app-view-activities *ngIf="showAddActivityButton"></app-view-activities>
<app-activity-form *ngIf="isAdmin()"></app-activity-form>

