<div>
  <!--For Search bar ,for filtering travel packages -->
  <input type="text" [(ngModel)]="searchQuery" (input)="getFilteredActivitiesList()" placeholder="Search by name">
  <h2 (click)="navActivities()">Activities</h2>
  <ul>
    <li *ngFor="let package of filteredActivitiesList">
      <a routerLink="/activities/{{ package.id }}">{{ package.name }}</a>
    </li>
  </ul>
  <button (click)="addNewActivity()">Add New Activity</button>

</div>
<br>
<app-view-activities></app-view-activities>

<app-activity-form *ngIf="showActivityForm" (cancel)="cancelAddNewActivity()"></app-activity-form>

