<div class="travel-packages">
  <!--For Search bar ,for filtering travel packages -->
  <div class="search-bar">
    <div>
      <label>Travel Packages</label>
    </div>
    <input type="text" [(ngModel)]="searchQuery" (input)="getFilteredTravelpackagesList()" placeholder="Search Packages by Name">
  </div>
  <!-- Travel Packages -->
  <div class="travel-package-container" *ngFor="let package of filteredTravelPackagesList">
    <div class="travel-package-card">
        <div class="travel-package-card-image">
          <img [src]="package.image" alt="Travel Package Image">
        </div>
        <div class="travel-package-card-details">
          <h3>{{ package.name }}</h3>
        </div>

      <button class="view-button" routerLink="/travelpackages/{{ package.id }}">View</button>
      <button class="delete-button" (click)="deleteTravelPackage(package.id)">Delete</button>
    </div>
  </div>
</div>
<!--<app-activity-form *ngIf="isAdmin()"></app-activity-form>-->
<app-travel-package-form></app-travel-package-form>
