<div class="travel-packages">
  <!--For Search bar ,for filtering travel packages -->
  <div class="search-bar">
    <h2>Travel Packages</h2>
    <label for="filter">Filter by:  </label>
    <input type="text" id="filter" name="filter" [(ngModel)]="searchQuery" (input)="getFilteredTravelpackagesList()" placeholder="Search Packages by Name">
  </div>
  <!-- Travel Packages -->
  <div class="travel-package-container" *ngFor="let package of filteredTravelPackagesList">
    <div class="travel-package-card">
        <div class="travel-package-card-image">
          <img [src]="package.image" alt="Travel Package Image">
        </div>
        <div class="travel-package-card-details">
          <h3>{{ package.name }}</h3>
        </div>

      <button class="view-button" routerLink="/travelpackages/{{ package.id }}">View</button>
      <button *ngIf="isAdmin()"  class="delete-button" (click)="deleteTravelPackage(package.id)">Delete</button>
    </div>
  </div>
</div>
<app-travel-package-form *ngIf="isAdmin()"></app-travel-package-form>
