<div class="flights">
  <!--For Search bar ,for filtering travel packages -->
  <label for="filter">Filter by:  </label>
  <input type="text" id="filter" name="filter" [(ngModel)]="searchQuery" (input)="getFilteredFlightsList()" placeholder="Search by name">
  <br><br>
  <h2 (click)="navFlights()">Flights</h2>
  <ul>
    <li *ngFor="let flight of filteredFlightsList">
      <a routerLink="/flights/{{ flight.id }}">{{ flight.name }}</a>
    </li>
  </ul>
<!--  <div class="flight-container" *ngFor="let flight of filteredFlightsList">-->
<!--    <p>{{ flight.name }}</p>-->
<!--    <button class="view-button" routerLink="/flights/{{ flight.id }}">View</button>-->
<!--  </div>-->

  <button *ngIf="showAddFlightButton" (click)="navFlights()">Add New Flight</button>


</div>
<br>
<app-view *ngIf="showAddFlightButton"></app-view>
<!--<app-view *ngIf="selectedFlight"></app-view>-->

<app-flight-form></app-flight-form>
