<div class="flights" *ngIf="isAgent()">
  <!--For Search bar ,for filtering travel packages -->
  <h2 (click)="navFlights()">Flights</h2>
  <label for="filter">Filter by:  </label>
  <input type="text" id="filter" name="filter" [(ngModel)]="searchQuery" (input)="getFilteredFlightsList()" placeholder="Search by name">
  <br><br>
  <ul>
    <li *ngFor="let flight of filteredFlightsList">
      <a routerLink="/flights/{{ flight.id }}">{{ flight.name }}</a>
    </li>
  </ul>
  <button *ngIf="showAddFlightButton && isAgent()" (click)="navFlights()">Add New Flight</button>
</div>
<br>
<app-view *ngIf="showAddFlightButton"></app-view>
<app-flight-form *ngIf="isAgent()"></app-flight-form>
