.home-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.content p {
  font-size: 20px;
}

.home-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: 'assets/homepg.jpg';
  background-size: cover;
  filter: blur(8px);
  z-index: -1;
}

.content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  padding-top: 20%;
}
