<div>
  <!--For Search bar ,for filtering travel packages -->
  <input type="text" [(ngModel)]="searchQuery" (input)="getFilteredHotelsList()" placeholder="Search by name">
  <h2 (click)="navHotels()">Hotels</h2>
  <ul>
    <li *ngFor="let package of filteredHotelsList">
      <a routerLink="/hotels/{{ package.id }}">{{ package.name }}</a>
    </li>
  </ul>
  <button (click)="addNewHotel()">Add New Hotel</button>

</div>
<br>
<app-view-hotels></app-view-hotels>

<app-hotel-form *ngIf="showHotelForm" (cancel)="cancelAddNewHotel()"></app-hotel-form>
